.contact {
    height: 1000px;
    width: 100%;
}
.container {
    width: 1200px;
    margin: 40px auto;
}
.one, .two {
    height: 450px;
    width: 350px;
}
.one {
    gap: 10px;
}
.one h3 {
    color: #dd302c;
    letter-spacing: 2px;
}
.one h1 {
    margin: 0 0 15px 0;
}
.section {
    display: flex;
    height: 50px;
    width: 330px;
    border-radius: 5px;
    padding: 15px;
    margin: 0 0 10px 0;
    gap: 10px;
    border: 1px solid #dee2e6;
}
.section:hover {
    border: 1px solid #dd302c;
}
.form {
    width: 350px;
    height: 100%;
    border-radius: 10px;
    background: #dee2e6;
    padding: 0 20px;
    gap: 2px;
}
.form div {
    margin: 0 0 20px 0;
}
.form .input {
    height: 36px;
    width: 300px;
    padding-left: 20px;
    font-size: 15px;
    color: #111;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    border-radius: 4px;
}
.danger {
    color: red;
    position: absolute;
    margin: 60px 0 0 0;
}
.textarea {
    height: 110px;
    width: 300px;
    padding: 12px 0 0 20px;
    font-size: 15px;
    color: #111;
    border: 1px solid #e1e1e1;
    resize: none;
    border-radius: 4px;
    margin-bottom: 20px;
}
.dangerTextarea {
    color: red;
    position: absolute;
    margin: 135px 0 0 0;
}
.btnSend {
    border: none;
    border-radius: 50px;
    background: #dd302c;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: white;
    width: 200px;
    margin: 0 auto;
    padding: 12px 40px 10px;
    cursor: pointer;
}
.btnDisabled {
    border: none;
    border-radius: 50px;
    background: #e9ecef;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #adb5bd;
    width: 200px;
    margin: 0 auto;
    padding: 12px 40px 10px;
    cursor: default;
}
.messageSend {
    position: absolute;
    margin: 265px 0 0 0;
    color: green;
}


/*---------------(900px)---------------*/
@media screen and (max-width: 900px) {
    .imagenBuzon {
        display: none;
    }
}

/*---------------(900px)---------------*/
@media screen and (max-width: 500px) {
    .containerDosContactUs {
        width: 350px;
    }
    .form .input {
        width: 290px;
    }
    .form .textarea {
        width: 290px;
    }
}

/*---------------(900px)---------------*/
@media screen and (max-width: 420px) {
    .containerDosContactUs {
        width: 300px;
    }
    .form .input {
        width: 250px;
    }
    .form .textarea {
        width: 250px;
    }
    .danger {
        margin: -30px 0 0 65px;
    }
}