.background {
  background-color: var(--bg-color);
}

.footer {
  width: 100%;
  background: var(--footer-color);
  padding: 0 30px;
  clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
}

.containerOne {
  border-bottom: 1px solid #343a40;
  padding: 40px 0;
  margin-bottom: 30px;
}

.containerTwo {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--text-color);
}

.column {
    max-width: 15.625rem;
    color: var(--text-color);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: .25rem;
}
.column a {
  text-decoration: none;
  color: #F7F5F5;
  font-size: 14px;
}
.column a:hover {
  color: var(--main-color);
}
.containerTwo h3 {
  color: #F7F5F5
}
.textFinal {
  margin-right: 45px;
  padding: 1.5rem 0;
  font-size: 12px;
  text-align: center;
}
.objectiveText {
  color: #F7F5F5;
}
.marca {
  font-weight: bold;
}
.marca:hover {
  color: var(--main-color);
}

@media screen and (max-width: 760px) {
    .containerOne {
        flex-direction: column;
        gap: .75rem;
    }

    .column {
        flex-basis: 50%;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .column {
        flex-basis: 70%;
        flex-grow: 0;
    }
}

@media screen and (max-width: 350px) {
  .footer {
    padding-top: 20px;
  }
}
