.error {
  height: 100vh;
  display: flex;
  width: 55%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.error__image404 {
  width: 50%;
  height: 30%;
  object-fit: contain;
}

.error__container_h2_button {
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 5%;
}

.error__h2 {
  font-weight: 200;
  font-size: 1.3rem;
}

.error__h2 > span {
  border-bottom: 2px solid #385b649f;
}

.error__button {
  color: white;
  background: #385b649f;
  padding: .65rem;
  border-radius: .65rem;
  border: none;
  margin: 0 5%;
}

.error__button:hover {
  background: rgba(187, 25, 25, 0.624);
}

@media screen and (max-width: 800px) {
  .error {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  .error {
    width: 75%;
    flex-direction: column;
  }
  .error__image404 {
    width: 80%;
  }
  .error__container_h2_button {
    width: 80%;
    justify-content: space-evenly;
  }
  .error__button {
    padding: 0.6rem;
    border-radius: 0.6rem;
  }
}

@media screen and (max-width: 400px) {
  .error {
    width: 92%;
    flex-direction: column;
  }
  .error__image404 {
    width: 100%;
  }
  .error__container_h2_button {
    width: 100%;
    justify-content: space-evenly;
  }
  .error__h2 {
    overflow: hidden;
    margin: 0 20px;
    font-size: 1rem;
  }
  .error__button {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}
