.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 5rem;
  padding: 1rem;
}

.container__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 15rem;
  width: 20rem;
  border-radius: 5px;
  box-shadow: -6px 9px 18px 3px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 9px 18px 3px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 9px 18px 3px rgba(0, 0, 0, 0.42);
}

.container__image {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container__card_info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: .75rem 2rem;
  width: 100%;
  height: 100%;
}

.container__card_info_data {
  flex: 1;
}

.container__card_info_data>h1 {
  line-height: 1.3em;
  font-size: 1.3em;
  margin-bottom: 15px;
}

.container__card_info_data>h2 {
  color: #605e5ed0;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}

.container__card_info_socialNetwork {
  flex: 0;
}