.container {
    padding: 1.5% 5% 5% 5%;
}

.container h2 {
    margin-bottom: 0.5rem;
}

.containerfaqs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.faqs {
    width: auto;
    height: 15rem;
    object-fit: contain;
}

@media screen and (min-width: 730px) {
    .containerfaqs {
        justify-content: space-between;
    }
}