:root {
  --main-color: #dd302c;
  --bg-color: #F7F5F5;
  --footer-color: #343a40;
}

/* Typography */
@font-face {
  font-family: 'Nexa-Heavy';
  src: url('../fonts/Nexa-Heavy.ttf');
}

@font-face {
  font-family: 'Nexa-ExtraLight';
  src: url('../fonts/Nexa-ExtraLight.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

html {
  line-height: 1.15;
}

/*  Sections ==========================================================================  */

/*  Remove the margin in all browsers.  */

body {
  margin: 0;
  font-family: 'Nexa-Heavy', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

/*  Render the main element consistently in IE.  */

main {
  display: block;
  background: var(--bg-color);
}

/*  Correct the font size and margin on h1 elements within section and
    article contexts in Chrome, Firefox, and Safari.  */

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

/* Grouping content ========================================================================== */

/*  1. Add the correct box sizing in Firefox.
    2. Show the overflow in Edge and IE.  */

hr {
  box-sizing: content-box;
}

/*  1. Correct the inheritance and scaling of font size in all browsers.
    2. Correct the odd em font sizing in all browsers.  */

/* Text-level semantics ========================================================================== */

/*  Remove the gray background on active links in IE 10.  */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/*  1. Remove the bottom border in Chrome 57-
    2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.  */

abbr[title] {
  border-bottom: none;
}

/*  Add the correct font weight in Chrome, Edge, and Safari.  */

b,
strong {
  font-weight: bolder;
}

/*  1. Correct the inheritance and scaling of font size in all browsers.
    2. Correct the odd em font sizing in all browsers.  */

img {
  border-style: none;
  max-width: 100%;
}

/* Forms  ========================================================================== */

/*  1. Change the font styles in all browsers.
    2. Remove the margin in Firefox and Safari.  */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

/*  Show the overflow in IE.
    1. Show the overflow in Edge.  */

button,
input {
  overflow: visible;
}

/*  Remove the inheritance of text transform in Edge, Firefox, and IE.
    1. Remove the inheritance of text transform in Firefox.  */

button,
select {
  text-transform: none;
}

/*  Correct the inability to style clickable types in iOS and Safari.  */

button,
[type="“button”"],
[type="“reset”"],
[type="“submit”"] {
  -webkit-appearance: button;
}

/*  Remove the inner border and padding in Firefox.  */

button::-moz-focus-inner,
[type="“button”"]::-moz-focus-inner,
[type="“reset”"]::-moz-focus-inner,
[type="“submit”"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/*  Restore the focus styles unset by the previous rule.  */

button:-moz-focusring,
[type="“button”"]:-moz-focusring,
[type="“reset”"]:-moz-focusring,
[type="“submit”"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button {
  cursor: pointer;
}

/*  Correct the padding in Firefox.  */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/*  1. Correct the text wrapping in Edge and IE.
    2. Correct the color inheritance from fieldset elements in IE.
    3. Remove the padding so developers are not caught out when they zero out
    fieldset elements in all browsers.  */

legend {
  box-sizing: border-box;
}

/*  Add the correct vertical alignment in Chrome, Firefox, and Opera.  */

progress {
  vertical-align: baseline;
}

/*  Remove the default vertical scrollbar in IE 10+.  */

textarea {
  overflow: auto;
}

/*  1. Add the correct box sizing in IE 10.
    2. Remove the padding in IE 10.  */

[type="“checkbox”"],
[type="“radio”"] {
  box-sizing: border-box;
}

/*  Correct the cursor style of increment and decrement buttons in Chrome.  */

[type="“number”"]::-webkit-inner-spin-button,
[type="“number”"]::-webkit-outer-spin-button {
  height: auto;
}

/*  1. Correct the odd appearance in Chrome and Safari.
    2. Correct the outline style in Safari.  */

[type="“search”"] {
  -webkit-appearance: textfield;
}

/*  Remove the inner padding in Chrome and Safari on macOS.  */

[type="“search”"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*  1. Correct the inability to style clickable types in iOS and Safari.
    2. Change font properties to inherit in Safari.  */

::-webkit-file-upload-button {
  -webkit-appearance: button;
}

/* Interactive  ========================================================================== */

/*  Add the correct display in Edge, IE 10+, and Firefox.  */

details {
  display: block;
}

/*  Add the correct display in all browsers.  */

summary {
  display: list-item;
}

/* Misc  ========================================================================== */

/*  Add the correct display in IE 10+.  */

template {
  display: none;
}

/*  Add the correct display in IE 10.  */

[hidden] {
  display: none;
}

/*---------------------ESTILOS GLOBALES---------------------*/

/*---------Bloque para altura de página a 100vh---------*/

.block__container {
  width: 100%;
}

.block__containerOurWork {
  width: 1200px;
  margin: 0 auto 30px auto;
  height: 100vh;
}

/*---------Bloque para altura de página con más de 100vh---------*/
.blockMore {
  width: 100%;
  color: #343a40;
  background: #f8f9fa;
  margin: 0 0 50px 0;
}

/*---------Estilos de posicionamiento---------*/
.flex {
  display: flex;
  gap: 10px;
}

.flexRecomended {
  display: flex;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.jcspaceAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.jcspaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jcspaceFlexStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.centerColumnSpaceAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.centerColumnSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.AIflexEnd {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.AIFlexStart {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.AIFlexStartColumn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

/*----------Margen center----------*/
.marginCenter {
  margin: 0 auto;
}