.cabecera {
  position: sticky;
  z-index: 1;
  width: 100%;
  min-height: 8rem;
  background: #272727;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 73%, 0 100%);
}


  .background {
    background-color: var(--bg-color);
  }

/* .dark .background {
  background-color: #141414;
} */

/*---------------Container Ícono hamburguesa---------------*/
.cabeceraButton {
  border: none;
  display: none;
  cursor: pointer;
  background: transparent;
}

.cabeceraSvg {
  color: white;
  font-size: 2rem;
  transition: 300ms all ease;
}

.cabeceraSvg:hover {
  transform: scale(1.1);
}

/*--------------- Container Logo ---------------*/
.containerLogo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

/*--------------- Container Links ---------------*/
.cabeceraNav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.cabeceraUl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.cabeceraLi {
  margin: 0 .5em;
  list-style: none;
}

.cabeceraLiActive {
  background: var(--main-color);
  padding: .5rem;
  border-radius: 0.4rem;
  transition: .3s;
}

.cabeceraA {
  padding: 10px;
}


/*---------Responsive---------*/
@media screen and (max-width: 1000px) {
  .cabeceraButton {
    display: flex;
  }

  .cabeceraNav {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease;
  }

  .cabeceraNav.isActive {
    height: 23vh;
    opacity: 1;
  }

  .cabeceraUl {
    margin-top: -3rem;
    flex-direction: column;
  }

  .cabeceraLi {
    margin: .5em 0;
  }
}
@media screen and (max-width: 320px) {
  .cabecera{
    flex-flow: column;
  }
  
  .cabeceraUl {
    margin-top: -3rem;
    flex-direction: column;
  }

  .cabeceraLi {
    margin: .5em 0;
  }
}

/* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 2.4em;
  --height-of-switch: 1.2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.2em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,0.5em);
  width: var(--size-of-icon,0.5em);
  border-radius: 20px;
  left: var(--slider-offset,0.2em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

.switch input:checked + .slider {
  background-color: #303136;
}

.switch input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}