.cabecera {
  position: sticky;
  z-index: 1;
  width: 100%;
  min-height: 90px;
  background: #272727;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 73%, 0 100%);
}

.background {
  background-color: var(--bg-color);
}

/*---------------Container Ícono hamburguesa---------------*/
.cabeceraButton {
  border: none;
  display: none;
  cursor: pointer;
  background: transparent;
}

.cabeceraSvg {
  color: white;
  font-size: 2rem;
  transition: 300ms all ease;
}

.cabeceraSvg:hover {
  transform: scale(1.1);
}

/*--------------- Container Logo ---------------*/
.containerLogo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

/*--------------- Container Links ---------------*/
.cabeceraNav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.cabeceraUl {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.cabeceraLi {
  margin: 0 .5em;
  list-style: none;
}

.cabeceraLiActive {
  background: #e63946;
  padding: .5rem;
  border-radius: 0.4rem;
}

.cabeceraA {
  padding: 10px;
}


/*---------Responsive---------*/
@media screen and (max-width: 1000px) {
  .cabeceraButton {
    display: flex;
  }

  .cabeceraNav {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease;
  }

  .cabeceraNav.isActive {
    height: 23vh;
    opacity: 1;
  }

  .cabeceraUl {
    margin-top: -3rem;
    flex-direction: column;
  }

  .cabeceraLi {
    margin: .5em 0;
  }
}