.whatsappLandgin {
    border: none;
    border-radius: 10px;
    position: fixed;
    bottom: 80px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms all ease;
}
.whatsapp {
    width: 45px;
    height: 45px;
}

.whatsappLandgin:hover {
    cursor: pointer;
    transform: scale(1.2) rotate(10deg);
}