.whatsappLanding {
    border: none;
    border-radius: 10px;
    position: fixed;
    bottom: 80px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms all ease;
    z-index: 1;
}

.whatsapp {
    width: 45px;
    height: 45px;
}

.whatsappLanding:hover {
    cursor: pointer;
    transform: scale(1.2) rotate(10deg);
}