.select {
  background-color: #f1f1f1;
  padding: 0.116em 1em;
  font-size: 0.8rem;
  line-height: 1.5;
  border: 1px solid #e2e8f0;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
}
/* Estilo para el hover del select */
.select:hover {
  border-color: #a0aec0;
}
/* Estilo para el focus del select */
.select:focus {
  border-color: #cbd5e0;
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
  outline: none;
}
/* Estilo para las opciones del select */
.select option {
  color: #1a202c;
  background-color: #fff;
  font-weight: normal;
  font-size: 1rem;
  border-radius: 30px;
}
/* Estilo para las opciones seleccionadas */
.select option:checked {
  color: #fff;
  background-color: red;
}
/* Estilo para las opciones al hacer hover */
.select option:hover {
  background-color: #e2e8f0;
}
/* Estilo para las opciones al hacer focus */
.select option:focus {
  background-color: #cbd5e0;
}
/* Estilo para el icono del select */
.select::-ms-expand {
  display: none;
}
/* Estilo para el icono del select en Safari */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .select {
    padding-right: 0.5em;
  }
}
