.container {
    padding: 1.5% 5% 5% 5%;
}

.terminos h2 {
    margin-bottom: 0.5rem;
}

.containerterms{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.terms {
    width: auto;
    height: 15rem;
    object-fit: contain;
}


@media screen and (min-width: 673px) {
    .containerterms {
        justify-content: space-between;
    }
}