.logo {
  text-decoration: none;
  justify-content: flex-end;
  gap: 10px;
  width: 250px;
}

.container {
  gap: 10px;
  width: 250px;
}

.container h1 {
  color: white;
  font-family: "YellowTail";
  font-weight: 300;
}