@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.logo {
    text-decoration: none;
}
.container {
    gap: 10px;
    width: 250px;
}

.container h1 {
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

