.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 1rem;
  height: 60vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.containerText {
  text-align: center;
}

.title {
  max-width: 25rem;
  margin-bottom: 1.5rem;
}

.button {
  
  padding: 0.5rem 0.8rem;
  border: 2px solid #dd302c;
  border-radius: 8px;
  color: var(--main-color);
  background-color: inherit;
  -webkit-box-shadow: 9px 9px 15px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 9px 9px 15px -3px rgba(0,0,0,0.75);
  box-shadow: 9px 9px 15px -3px rgba(0,0,0,0.75);
}


.button:hover {
  background-color: #dd302c;
  color: white;
}

@media screen and (min-width: 520px) {
  .container {
    flex-direction: row;
    margin: 0 2.5rem;
  }
}

@media screen and (min-width: 630px) {
  .image {
    width: 400px;
    height: 400px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    height: calc(100vh - 101px);
  }
  .image {
    width: 500px;
    height: 500px;
  }
  .title {
    font-size: 2.2rem
  }
}